



/* logo principal */

@media only screen and (min-width: 300px) and (max-width: 370px) {
    .mensaje_whatsapp {
      display: none;
    }
    .aba-whatsphone{
        display: none;
    }

    .aba-whatsphone-icone_tres{
        display: none;
    }
    .fixed-tabs-Whats_tres{
        display: none;
    }

    .ir-arriba{
        display: none;
    }
    #boton_arriba_spam{
        display: none;
    }

    .logo_principal{
        margin-left: 58px;
        width: 182PX !important;
        height: 54px !important;
    }

    .menu_nav{
        display: none;  
    }

    #texto_info{
        font-size: 12px;
        margin-top: 60px;
    }
  }